:root {
	--main: rgb(241, 191, 2);
}

#root {
	width: 100%;
	max-width: 2000px;
	height: 100dvh;
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h1 {
	font-size: 2.5rem;
	font-family: KOTRA_BOLD;
	display: flex;
	gap: 40px;
	justify-content: center;
}

h1 > span {
	color: var(--main);
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 1.2rem;
	}
}
