:root {
	--main: rgb(241, 191, 2);
}

#root {
	width: 100%;
	max-width: 2000px;
	height: 100vh;
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

h1 {
	font-size: 2.5rem;
	font-family: KOTRA_BOLD;
	display: flex;
	flex-direction: column;
}

h1 > span {
	color: var(--main);
}
