:root {
	--main: rgb(241, 191, 2);
	--text: #ffeedd;
}

#root {
	width: 100%;
	max-width: 2000px;
	height: 100dvh;
	padding-inline: 1rem;
	padding-top: 0.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: rgba(0, 0, 0, 0.3);
	color: var(--text);
}

h1 {
	font-size: 2rem;
	display: flex;
	gap: 12px;
	justify-content: center;
	font-family: Tagmarker;
	color: var(--main);
}

h1 > span {
	font-size: 1.8rem;
	font-family: BebasNeue;
	color: var(--text);
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 1.2rem;
	}
	h1 > span {
		font-size: 1rem;
	}
}
@media screen and (max-width: 480px) {
	#root {
		padding-inline: 0.5rem;
	}
}
