:root {
	--main: #ffaa00;
	--text: #ffeedd;
}

#root {
	width: 100%;
	max-width: 2000px;
	height: 100dvh;
	padding-inline: 1rem;
	padding-top: 0.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: rgba(0, 0, 0, 0.3);
	color: var(--text);
}

h1 {
	display: flex;
	gap: 1.4rem;
	justify-content: center;
	font-family: Tagmarker;
	align-self: center;
}

h1 > span:first-child {
	font-size: 2rem;
	background-clip: text;
	color: var(--main);
	letter-spacing: 0.5px;
	scale: 1.2 1;
	filter: drop-shadow(0 0 4px #972213);
}

h1 > span:last-child {
	font-size: 1.8rem;
	font-family: BebasNeue;
	color: var(--text);
}

@media screen and (max-width: 480px) {
	h1 {
		gap: 1rem;
	}
	h1 > span:first-child {
		font-size: 1.2rem;
	}
	h1 > span:last-child {
		font-size: 1rem;
	}
}
@media screen and (max-width: 480px) {
	#root {
		padding-inline: 0.5rem;
	}
}
