@import 'tailwindcss';

:root {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
		'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
		'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		sans-serif;
	font-weight: 400;

	background-color: #111;
	color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scrollbar-width: none;
}

:root::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
}

button {
	cursor: pointer;
}
